.header {
  grid-row: 1/2;
  grid-column: 2/-1;
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  grid-template: 1fr 1fr / 1.5fr 1fr;
  height: 15vh;
  box-shadow: 0px 3px rgb(196, 196, 196);
}

.header .search {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.header .search input {
  background-color: rgb(226, 226, 226);
  width: 100%;
  height: 40%;
  font-size: large;
  border: none;
  border-radius: 25px;
}

.header .search .icon {
  font-size: large;
}

.header .info {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

.header .info img {
  width: 40px;
  border-radius: 100px;
}

.header .greeting {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .greeting img {
  width: 70px;
  border-radius: 100px;
}

.header .greeting .greetingText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header .greeting .greetingText .bottom {
  font-size: x-large;
  font-weight: bolder;
}

.header .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  gap: 20px;
}

.header button {
  height: 30px;
  width: 80px;
  letter-spacing: 1px;
  border-radius: 25px;
  border: none;
  scale: 1.1;
  color: #eaf6ff;
  background-color: #009ffd;
}

button:hover,
.info i,
.info img {
  transform: scale(1.1);
  cursor: pointer;
}

button:active {
  transform: scale(1);
  cursor: pointer;
  background-color: rgb(255, 185, 55);
}
