.sidebar {
  color: #eaf6ff;
  display: flex;
  flex-direction: column;
  background-color: #009ffd;
  padding: 20px;
  gap: 80px;
}

.dashboardTitle {
  font-size: xx-large;
}

.navigation,
.utilities {
  font-size: x-large;
  display: flex;
  flex-direction: column;
}

.icon {
  padding-left: 10px;
  margin-bottom: 10px;
}
