:root {
  font-family: Tahoma, sans-serif;
}

body {
  display: grid;
  grid-template: repeat(3, 1fr) / 0.2fr 1fr;
  margin: 0;
  color: white;
}

.header {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  background-color: #333333;
  padding-right: 100px;
}

.header > div {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
}

.header .search {
  grid: 1/2;
  padding: 20px;
  gap: 10px;
}

.header .search input {
  border-radius: 100px;
  height: 60%;
  width: 100%;
  min-width: 40%;
}

.header .profileInfo {
  grid-row: 2/1;
  grid-column: 2/3;
  font-size: larger;
  justify-content: right;
  gap: 20px;
}

.header .profileInfo .logo {
  width: 50px;
  border-radius: 30px;
}

.header .greeting .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header .greeting img {
  width: 75px;
  border-radius: 50px;
  margin-left: 20px;
}

.header .buttons {
  justify-content: right;
  gap: 3rem;
}

.header button {
  border: none;
  background-color: #06aed5;
  height: 2rem;
  width: 4rem;
  scale: 1.25;
  border-radius: 100px;
}

.sidebar {
  align-self: center;
  color: white;
  font-size: x-large;
  grid-row: 1 / end;
  display: grid;
  height: 100vh;
  background-color: #06aed5;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar > div > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar .title {
  padding-top: 15px;
  text-align: center;
  font-size: x-large;
}

.sidebar .navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .utilities {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main {
  display: grid;
  grid-template: 0.25fr repeat(3, 1fr) / repeat(2, 1fr) 0.5fr;
  background-color: #333333;
}

.projects {
}

.main .titleText {
  font-size: x-large;
}

.main .superCoolProject {
  grid-row: 2/3;
  height: 100%;
  width: 100%;
  background-color: #06aed5;
}

.main .textContainer {
}
